body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
    background-color: #726F6F;
    background-attachment: fixed;
}

main {
    background-color: #999696;
    /* background-image: url("../views/images/motor-background.jpeg"); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 1
}

.carsImg {
    width: 300px;
    height: 240px;
    padding: 0;
    float: left;
}

.instructions .container h1 {
    font-size: 32px;
    font-weight: 800
}

.instructions {
    padding-top: 20px;
    color: #131313;
    padding: 15px;
    background-color: #F5F5F5
}

#entryForm {
    margin-top: 14px;
}

#container {
    margin-top: 10px;
}

.container p {
    margin-top: 14px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
    background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.btn-danger {
    margin-left: 10px;
}

.NavBar {
    background-color: maroon;
    width: 100%;
    opacity: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    text-decoration: underline;
    color: #eee;
}

header,
footer {
    /* padding: 1em; */
    padding: 8px;
    color: #131313;
    background-color: maroon;
    clear: left;
    text-align: center;
}

.landingpagelinks {
    padding: 8px;
    color: white;
    background-color: white;
    clear: left;
    text-align: center;
}

.infocontainer {
    background-color: #F5F5F5;
    /* background: linear-gradient(maroon,maroon,maroon, #726F6F); */
    color: #131313;
    /* margin: 20px 0 20px 0; */
    /* padding: 5px; */
    border-radius: 5px;
    border-style: inset;
    border-width: 3px;
    font-size: 15px;
    margin: 8px 8px 8px 8px;
}

.infocontainer h2 {
    margin-top: 0px;
}

.listPush {
    padding: 0 0 0 20px;
}

.listPushEnd {
    padding: 0 0 0 20px;
}

.rqst {
    /* position: relative; */
    margin: 10px 10px 10px 10px;
    /* border: 2px dashed black; */
    padding: 8px 8px 8px 8px;
    height: 30%;
    width: 50%;
    background-color: lightgray;
}

.expanded_request {
    /* margin: 10px 10px 10px 10px; */
    padding: 8px 8px 0px 8px;
    /* border: 2px solid black; */
    width: 50%;
    background-color: lightgray;
}

.nrqst {
    margin: 10px 10px 10px 10px;
    border: 2px dashed black;
    height: 30px;
    width: 250px;
    background-color: lightblue;
}

.nrqstform {
    margin: 10px 10px 10px 10px;
    border: 2px dashed black;
    width: 700px;
    background-color: lightblue;
}

.ready {
    background-color: greenyellow;
}

.in_progress {
    background-color: lightcoral;
}

.serviced {
    background-color: lightskyblue;
}

.lead {
    margin-top: -20px;
    font-size: 48px;
    text-decoration-style: bold;
    color: #131313;
}

#logo img {
    border-width: 2px;
    border-color: white;
    height: 100px;
    width: auto;
    object-fit: contain;
}

#title {
    padding-top: 20px;
}

.NavLink {
    color: whitesmoke;
}

main {
    background-color: #999696;
    /* background-image: url("../views/images/motor-background.jpeg"); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 1
}

.carsImg {
    width: 300px;
    height: 240px;
    padding: 0;
    float: left;
}

.instructions .container h1 {
    font-size: 32px;
    font-weight: 800
}

.instructions {
    padding-top: 20px;
    color: #131313;
    padding: 15px;
    background-color: #F5F5F5
}

#entryForm {
    margin-top: 14px;
}

#container {
    margin-top: 10px;
}

.container p {
    margin-top: 14px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
    background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.btn-danger {
    margin-left: 10px;
}

.NavBar {
    background-color: maroon;
    width: 100%;
    opacity: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    text-decoration: underline;
    color: #eee;
}

header,
footer {
    /* padding: 1em; */
    padding: 8px;
    color: #131313;
    background-color: maroon;
    clear: left;
    text-align: center;
}

.landingpagelinks {
    padding: 8px;
    color: white;
    background-color: white;
    clear: left;
    text-align: center;
}

.infocontainer {
    background-color: #F5F5F5;
    /* background: linear-gradient(maroon,maroon,maroon, #726F6F); */
    color: #131313;
    /* margin: 20px 0 20px 0; */
    /* padding: 5px; */
    border-radius: 5px;
    border-style: inset;
    border-width: 3px;
    font-size: 15px;
    margin: 8px 8px 8px 8px;
}

.infocontainer h2 {
    margin-top: 0px;
}

.listPush {
    padding: 0 0 0 20px;
}

.listPushEnd {
    padding: 0 0 0 20px;
}

.rqst {
    /* position: relative; */
    margin: 10px 10px 10px 10px;
    /* border: 2px dashed black; */
    padding: 8px 8px 8px 8px;
    height: 30%;
    width: 50%;
    background-color: lightgray;
}

.expanded_request {
    /* margin: 10px 10px 10px 10px; */
    padding: 8px 8px 0px 8px;
    /* border: 2px solid black; */
    width: 50%;
    background-color: lightgray;
}

.nrqst {
    margin: 10px 10px 10px 10px;
    border: 2px dashed black;
    height: 30px;
    width: 250px;
    background-color: lightblue;
}

.nrqstform {
    margin: 10px 10px 10px 10px;
    border: 2px dashed black;
    width: 700px;
    background-color: lightblue;
}

.ready {
    background-color: greenyellow;
}

.in_progress {
    background-color: lightcoral;
}

.serviced {
    background-color: lightskyblue;
}

.lead {
    margin-top: -20px;
    font-size: 48px;
    text-decoration-style: bold;
    color: #131313;
}

#logo img {
    border-width: 2px;
    border-color: white;
    height: 100px;
    width: auto;
    object-fit: contain;
}

#title {
    padding-top: 20px;
}

.NavLink {
    color: whitesmoke;
}

#authCarsLogo {
    float: right;
    width: 35%;
    margin: 4vh -5vw 0vh 0vw;
}

#authDate {
    float: right;
}

#printMe {
    width: 75vw;
    margin: auto;
    margin-bottom: 8vh;
}

@media print {
    .noPrint {
        visibility: hidden !important;
        height: 0pt;
    }
    #printMe {
        max-width: 670pt !important;
        max-height: 300pt !important;
        margin: auto;
    }
    #authCarsLogo {
        float: right;
        margin-top: -20pt;
    }
}

#admin_nav {
    position: relative;
    margin-top: 30px;
    color: white;
    text-align: center;
}

.login_button {
    margin-right: 15px;
}

.removebutton {
    align-content: right;
}