body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
    background-color: #726F6F;
    background-attachment: fixed;
}

main {
    background-color: #a5907e;
    height: 100vh;
}

.landingMainDiv {
    background-image: radial-gradient(rgba(219, 215, 206, .71), rgba(24, 22, 22, 1)), url("../views/images/car-repair-background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.navBarStyle {
    background: maroon;
}

._md-nav-button-text {
    color: rgba(219, 215, 206, 1);
    font-size: 14px;
    font-weight: 700;
    padding: 5px;
}

.carsImg {
    width: 300px;
    height: 240px;
    padding: 0;
    float: left;
}

.container {
    font: 32px;
    color: black;
}

.instructions .container h1 {
    font-size: 32px;
    font-weight: 800
}

.instructions {
    padding-top: 20px;
    color: #131313;
    padding: 15px;
    background-color: rgba(219, 215, 206, 1);
}

#entryForm {
    margin-top: 14px;
}

#container {
    margin-top: 10px;
}

.container p {
    margin-top: 14px;
}

.btn-danger {
    margin-left: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.lead {
    font-size: 48px;
}

.sublead {
    font-size: 30px;
    margin-bottom: -10px;
}


/* Change the link color to #111 (black) on hover */

header,
footer {
    /* padding: 1em; */
    padding: 8px;
    color: #131313;
    background-color: maroon;
    clear: left;
    text-align: center;
}

.infocontainer {
    background-color: rgba(219, 215, 206, 1);
    /* background: linear-gradient(maroon,maroon,maroon, #726F6F); */
    color: #131313;
    /* margin: 20px 0 20px 0; */
    /* padding: 5px; */
    border-radius: 5px;
    border-style: inset;
    border-width: 3px;
    font-size: 15px;
    margin: 8px 8px 8px 8px;
}

.infocontainer h2 {
    margin-top: 0px;
}

.listPush {
    padding: 0 0 0 20px;
}

.listPushEnd {
    padding: 0 0 0 20px;
}

.rqst {
    margin: 10px 10px 10px 10px;
    border: 1px solid black;
    padding: 8px 8px 8px 8px;
    background-color: lightgray;
    border-radius: 5px;
}
innerRqst{
    margin: 10px 10px 10px 10px;
    padding: 8px 8px 8px 8px;
    background-color: lightgray;
    border-radius: 5px;
}

.expanded_request {
    /* margin: 10px 10px 10px 10px; */
    padding: 8px 8px 0px 8px;
    /* border: 2px solid black; */
    width: 50%;
    background-color: lightgray;
}

.nrqst {
    margin: 10px 10px 10px 10px;
    border: 1px solid black;
    background-color: lightblue;
    padding: 8px 8px 8px 8px;
    border-radius: 5px;
}

.nrqstform {
    margin: 10px 10px 10px 10px;
    border: 1px solid black;
    background-color: lightblue;
    padding: 8px 8px 8px 8px;
    border-radius: 5px;
}

.ready {
    background-color: greenyellow;
}

.in_progress {
    background-color: lightcoral;
}

.serviced {
    background-color: lightskyblue;
}

.AdminHello {
    font-size: 48px;
    text-decoration-style: bold;
    color: #131313;
    text-align: center;
}

#logo img {
    border-width: 2px;
    border-color: rgba(219, 215, 206, 1);
    height: 100px;
    width: auto;
    object-fit: contain;

}

.title {
    padding-top: 20px;
    text-align: center;
}

#authCarsLogo {
    float: right;
    width: 35%;
    margin: 0% 5% 0% 0%;
}

#authDate {
    float: right;
    margin: 0% 10% 0% 0%;
}

#printMe {
    width: 95%;
    margin: auto;
    /* margin-bottom: 8vh; */
}

@media print {
 
    .noPrint {
        display: none;
        height: 0pt;
    }
    .pageBreak {
        page-break-before: always !important;
    }
    .pageBreakAfter {
        page-break-after: avoid !important;
    }
    body {
        background: white !important;
        background-image: hidden !important;
    }
    main {
        background: white !important;
        background-image: hidden !important;
        font-size: 12px !important;
        margin: auto;
    } 
}

#admin_nav {
    position: relative;
    margin-top: 30px;
    color: rgba(219, 215, 206, 1);
    text-align: center;
}

.login_button {
    margin-right: 15px;
}

.removebutton {
    align-content: right;
}

.base {
    background-color: #d1c6ad;
    overflow-y: scroll;
    height: 90vh;
    background: rgba(219, 215, 206, 1);
    border-radius: 5px;
}

.base::-webkit-scrollbar {
    width: 0;
}

.input {
    opacity: 1;
    z-index: 20;
}

.ready {
    background-color: greenyellow;
}

.in_progress {
    background-color: lightcoral;
}

.serviced {
    background-color: lightskyblue;
}

.questionMark {
    font-size: 24px;
    padding-bottom: 12px;
    display: inline;
}

#vinSearch {
    height: 175px;
    width: auto;
    padding-top: 8%;
}

#vinPopUp {
    width: 40%;
    height: 250px;
}

#card {
    height: 70%;
    margin-top: 5%;
    background-color: rgba(219, 215, 206, 1)
}

.RqstForm {
    padding-left: 5%;
}


/* tabs */

.tabsdemoStaticTabs md-content md-tabs {
    border: 1px solid #e1e1e1;
}

.tabsdemoStaticTabs md-content md-tabs md-tab-content {
    padding: 25px;
}

.tabsdemoStaticTabs md-content md-tabs md-tab-content:nth-child(1) {
    background-color: #cfd8dc;
}

.tabsdemoStaticTabs md-content md-tabs md-tab-content:nth-child(2) {
    background-color: #ffb74d;
}

.tabsdemoStaticTabs md-content md-tabs md-tab-content:nth-child(3) {
    background-color: #ffd54f;
}

.tabsdemoStaticTabs md-content md-tabs md-tab-content:nth-child(4) {
    background-color: #aed581;
}

.tabsdemoStaticTabs md-content md-tabs md-tab-content:nth-child(5) {
    background-color: #00897b;
}

.tabsdemoStaticTabs .after-tabs-area>span {
    margin-top: 25px;
    padding-right: 15px;
    vertical-align: middle;
    line-height: 30px;
    height: 35px;
}

.tabsdemoStaticTabs .after-tabs-area>md-checkbox {
    margin-top: 26px;
    margin-left: 0;
}

.monkey {
    height: 80vh;
    background-color: rgba(219, 215, 206, 1)
}

.landingCard {
    background: rgba(219, 215, 206, 1);
    border-radius: 650px;
}

._md-card {
    background: rgba(219, 215, 206, 1);
    border-radius: 650px;
}

.md-tab {
    border-right-style: solid;
    border-width: 1px;
    height: 90%;
}

.checklistGroup {
    padding: 8px;
    margin: 8px;
    font-size: 20px;
}


/*.NavBar {
    background-color: white; 
    width: 100%;
    opacity: 1;
    color: white;
} */

.landingImg {
    height: 40vh;
    width: auto;
}

#what {
    border-left-width: 5px;
    border-left-color: #000000;
}

#authProblemArea {
    width: 55%;
}

.loginBox {
    min-width: 400px;
    background-color: rgba(219, 215, 206, 1);
    margin: 3% auto 0 auto;
}

#search {
    margin-top: 5%;
    margin-left: 10%;
    height: 10%;
}

.highlight{
    background-color:gray;
}


.summaryTable td, .summaryTable th {
    width: 15%;
    padding: 1%;
    
}

md-card.md-default-theme, md-card {
    color: rgba(0,0,0,0.87);
    background-color: rgba(219, 215, 206, 1);
    border-radius: 2px;
}