body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  background-color: #726F6F;
  background-attachment: fixed;
}
main{
   background-color: #726F6F;
  background-attachment: fixed; 
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
 padding-top: 20px;
  color: #DDDDDD;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #333333;
  width: 100%;
  border-radius: 0px;
  color: #FFFFFF;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}

header, footer {
    /* padding: 1em; */
    color: white;
    background-color: maroon;
    clear: left;
    text-align: center;

}

.landingpagelinks {
padding: 1em;
    color: white;
    background-color: white;
    clear: left;
    text-align: center;

}

.infocontainer {
    background-color: maroon;
    background: linear-gradient(maroon,maroon,maroon, #726F6F);
    color: white;
    margin: 20px 0 20px 0;
    padding: 20px;
    border-radius: 5px;

}



.rqst{
 position: relative;
 margin: 10px 10px 10px 10px;
 border: 2px dashed black;
 height: 30px;
 width: 250px;
 background-color: lightgray;
}
.expanded_request{
 margin: 10px 10px 10px 10px;
 border: 2px dashed black;
 width: 700px;
  background-color: lightgray;
}
.nrqst{
  margin: 10px 10px 10px 10px;
  border: 2px dashed black;
  height: 30px;
  width: 250px;
  background-color: lightblue;
}
.nrqstform{
   margin: 10px 10px 10px 10px;
  border: 2px dashed black;
  width: 700px;
  background-color: lightblue; 
}

.ready{
  background-color: greenyellow;
}

.in_progress{
  background-color: lightcoral;
}

.serviced{
  background-color: lightskyblue;
}

<<<<<<< HEAD
.lead{
  margin-top: -20px;
  font-size: 36px;
  color: whitesmoke;
}

#logo img{
  border-width: 2px;
  border-color: white;
  height: 100px;
  width: auto;
  object-fit: contain;
}

#title{
  padding-top: 20px;
}

.NavLink{
  color: whitesmoke;
}

@media print { 
  .noPrint { display: none !important; } 
 }