<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h1 id="welcome" class="lead">Hello {{ac.userObject.userName}}!</h1>

    <button ng-click="ac.makeRequestsVisible()">Service Requests</button>
    <button ng-click="ac.showSearch()">Service History</button>
    <button ng-click="ac.showAuth()">Pending Authorizations</button>
    <button ng-click="ac.AdminService.logout()">Log Out</button>
    <hr>

    <div ng-show="ac.showRequests">
        <h3>These requests are pending review and scheduling</h3>

        <div ng-repeat="data in ac.RetrievedRequests.list.data" class="rqst" ng-click="expandInfo = !expandInfo">
            <b>{{data.name}}
            <br>{{data.year}}
            <br>{{data.make}}
            <br>{{data.model}}</b>
            <div ng-show="expandInfo" class="expanded_request">
                <b>Phone:</b> {{data.cellphone}}
                <br><b>Alt Phone:</b> {{data.alternative_phone}}
                <br><b>VIN:</b> {{data.vin}}
                <br><b>Qualifier:</b> {{data.qualify_input}}
                <br><b>Vehicle Issue:</b> {{data.service_request}}
                <br>
                <p>
                    <button class="btn-btn-primary" type="submit" ng-click="ac.updateCustomer(data.customer_id, 'scheduled')">Scheduled!</button>

                    <button class="btn-btn-warn" type="submit" ng-click="ac.updateCustomer(data.customer_id, 'denied')">not eligable!</button>
                </p>

                <!-- <button ng-click="ac.shrinkInfo()">close</button> -->
            </div>
        </div>
        <div class="nrqst" ng-click="ac.AddRequest()">New request </div>
    </div>
    <!--search bar-->
    <div ng-show="ac.showSearchs">
        <form><input type="text" id="search" ng-model="history_search"><button ng-click="ac.search_history(history_search)">submit</button></form>
       <div class="rqst" ng-repeat="customer in ac.searchResults">
          </div>
          {{ac}} 
    </div>
    <!--search bar end-->

    <div class="nrqstform" ng-show="ac.nrqstneeded">
        <!--start of new person entry -->
        <form id="customerInfo">
            <label>Name</label>
            <input type="text" name="first" ng-model="ac.customer.name" required>

            <label>Address</label>
            <input type="text" name="address" ng-model="ac.customer.address" required>

            <div>
                <label>City</label>
                <input type="text" name="city" ng-model="ac.customer.city" required>
                <label>State</label>
                <input type="text" name="state" ng-model="ac.customer.state" required>
                <label>Zip Code</label>
                <input type="number" name="zip" ng-model="ac.customer.zip" required>
                <label>Cell Phone</label>
                <input type="tel" class="form-control" name="cellPhone" ng-model="ac.customer.cellPhone " required>
                <label>Alternate Phone</label>
                <input type="text" class="form-group" name="altPhone" ng-model="ac.customer.altPhone">
                <label>email address</label>
                <input type="email" class="form-group" name="altPhone" ng-model="ac.customer.email" required>
            </div>

            <h2>Vehicle Information</h2>
            <div>
                <label>VIN</label>
                <input type="text" name="VIN" ng-model="ac.customer.vin">
                <label>Year</label>
                <input type="number" name="year" ng-model="ac.customer.year" required>
                <label>Make</label>
                <input type="text" name="make" ng-model="ac.customer.make" required>
                <label>model</label>
                <input type="text" name="model" ng-model="ac.customer.model" required>
            </div>

            <h3>Please describe the problems you are having with the vehicle</h3>
            <textarea rows="5" cols="70" ng-model="ac.customer.problem"></textarea>

            <div>
                <h3>Please indicate why you qualify to use the services of C.A.R.S. Ministry</h3>
                <label>
        <input type="radio" name="qualification" value="singleMother" ng-model="ac.customer.qualification" checked>
        Single Mother
    </label>


                <label>
        <input type="radio" name="qualification" value="singleWoman" ng-model="ac.customer.qualification" checked>    
        Single Woman
    </label>


                <label>
        <input type="radio" name="qualification" value="widow" ng-model="ac.customer.qualification" checked>
        Widow
    </label>

                <label>
        <input type="radio" name="qualification" value="financiallyLimited"   ng-model="ac.customer.qualification" checked>
        Financially Limited
    </label>

                <label>
        <input type="radio" name="qualification" value="other" ng-click="ac.openTextbox();">
        Other
    </label>

                <div ng-show="ac.textboxShowing">
                    <textarea rows="4" cols="50" ng-model="ac.customer.qualification" placeholder="Please explain your circumstances:"></textarea>
                </div>

                <div>
                    <button class="btn-btn-primary" type="submit" ng-click="ac.addCustomer()">Schedule!</button>
                </div>

                <!--end of new person entry -->
                <button class="btn-btn-primary" ng-click="ac.ReduceRequest()">Close</button>
            </div>
    </div>
    ac.showAuths: {{ac.showAuths}}
    <!--button to show pending authorizations-->
    <div ng-show="ac.showAuths">

        <h3>These authorizations have been created and need to be printed.</h3>
        <div ng-repeat="data in ac.AdminService.Prints.list.data" ng-click="ac.history_view($index)" class="rqst">{{data.name}}</div>
    </div>
    </form>
</div>
</div>