<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h1 id="welcome" class="lead">Hello {{ac.userObject.userName}}!</h1>
    <button class="btn btn-default" ng-click="ac.AdminService.logout()">Log Out</button>
    <button ng-click="ac.makeRequestsVisible()">Service Requests</button><button ng-click="ac.showSearch()">Service History</button>
    <hr>
   
    <div ng-show="ac.showRequests">
        <h3>These requests are pending review and scheduling</h3>
        
        <div class="rqst" ng-click="ac.expandInfo()" ng-hide=ac.InfoExpanded>pending request # 1</div>
            <div ng-show="ac.InfoExpanded" class="expanded_request"> Pending request #1 Name:{{ac}} Phone:{{ac}} Vehicle Year/Make/Model: {{ac}}/{{ac}}/{{ac}}
                Qualifier:{{ac}} Vehicle Issue:{{ac}} Scheduled Date:<input type="date"> Scheduled Time:<input type="time"> <button ng-click="ac.shrinkInfo()">-</button> </div>
        <div class="rqst">pending request # 2</div>
        <div class="rqst">pending request # 3</div>
        <div class="nrqst" ng-click="ac.AddRequest()">New request </div>
    </div>
   
    <div ng-hide="ac.showRequests">
        <form><input type="text" id="search" ng-model="history_search"><button ng-click="ac.search_history(history_search)">submit</button></form>
    </div>
    <div class="nrqstform" ng-show="ac.nrqstneeded">
        New request form will be copied into here with the addition of a scheduled box so it can be immediatly cleared.
        <button ng-click="ac.ReduceRequest()">Done</button>
    </div>

</div>