

<md-nav-bar class="navBarStyle" md-selected-nav-item="currentNavItem" 
layout="row" 
 layout-align="space-around center"  
 md-no-ink-bar="disableInkBar" 
 nav-bar-aria-label="navigation links">

<md-nav-item md-nav-href="#/landingpage" name="homeTab">
      Home
  </md-nav-item>
  <md-nav-item md-nav-href="#/requestservice" name="serviceRequestTab">
      Request for Service Form
  </md-nav-item>

</md-nav-bar>

<div flex="90" flex-offset="5" class="base">

      <div id="printMe" style="overflow: hidden">
            <md-action>
                  <md-button flex class="md-raised md-primary noPrint" ng-click="ac.printDiv()">Print</md-button>
                  <md-button flex class="md-raised md-warn removebutton noPrint" ng-click="ac.updateCustomer(data.customer_id, 'printed')">remove</md-button>
                  <br>
            </md-action>
{{ac}}
            <h2 class="authClickToEdit" id="authDate">{{ac.date | date:MMM/dd/yyyy}}</h2>
            <H1>C.A.R.S.</H1>
            <H2>Service Authorization</H2>
            <img src="../views/images/cars-logo-transparent.png" id="authCarsLogo" />

            <p>I,
                  <input type="text" id="authNameLine" onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px';" style="border-bottom: 1px solid black;border-right:hidden;border-left:hidden;border-top:hidden;background:transparent;"
                        ng-model="ac.serviceObject.name"> hereby authorize C.A.R.S. to perform the following services and repairs on the vehicle listed below:</p>
            <p>
                  <textarea id="authProblemArea" type="text" rows="3" style="border:none;background:transparent;" ng-model="ac.serviceObject.service_requested"></textarea>
            </p>
            <br>

            <p>I understand that the service(s) will be performed by volunteers who are not professional automotive technicians.
                  Should I encounter any problems with the service(s) performed by C.A.R.S. I will immediately cease driving
                  the car and contact C.A.R.S. I also agree that I will promptly return the car for examination if I am requested
                  to do so. I understand that I am solely responsible for the safe driving condition of my vehicle at all
                  times. I agree that C.A.R.S. will not be responsible for the failure or breakdown of any components that
                  were not serviced by C.A.R.S. or it's volunteers and that C.A.R.S. and it's volunteers assume no responsibility
                  or liability for the failure or breakdown of any installed part. All part warranties shall be the responsibility
                  of the seller and/or manufacturer of the part if such a warranty exists. I waive any and all claims, demands,
                  or lawsuits for myself, my assignees, and my estate against C.A.R.S., it's volunteers, and/or agents which
                  may arise from vehicle inspection or service performed by the C.A.R.S. Ministry.</p>


            <h2>Vehicle Information</h2>
            <input type="text" style="border:none;background:transparent;width:40px;" ng-model="ac.serviceObject.year">
            <input type="text" style="border:none;background:transparent;width:80px;" ng-model="ac.serviceObject.make">
            <input type="text" style="border:none;background:transparent;width:150px;" ng-model="ac.serviceObject.model">

            <br>Miles:
            <input type="text" style="border:none;background:transparent;width:80px;" ng-model="ac.serviceObject.current_mileage">

            <br>VIN:
            <input type="text" style="border:none;background:transparent;width:150px;" ng-model="ac.serviceObject.vin">


            <h2>Customer Information</h2>
            <table style="width:88vw;">
                  <tr>
                        <td>
                              <input type="text" style="border:none;background:transparent;width:150px;" ng-model="ac.serviceObject.name">
                        </td>
                        <td>cell:
                              <input class="maskPhone" type="text" style="border:none;background:transparent;width:150px;" ng-model="ac.serviceObject.cellphone">
                        </td>
                  </tr>
                  <tr>
                        <td>
                              <input type="text" style="border:none;background:transparent;width:150px;" ng-model="ac.serviceObject.address">
                        </td>
                        <td>alternate:
                              <input class="maskPhone" type="text" style="border:none;background:transparent;width:150px;" ng-model="ac.serviceObject.alternative_phone">
                        </td>
                  </tr>
                  <tr>
                        <td>
                              <input type="text" style="border:none;background:transparent;width:100px;" ng-model="ac.serviceObject.city">
                              <input type="text" style="border:none;background:transparent;width:40px;" ng-model="ac.serviceObject.state">
                              <input type="text" style="border:none;background:transparent;width:60px;" ng-model="ac.serviceObject.zip">
                        </td>
                        <td>email:
                              <input type="text" style="border:none;background:transparent;width:150px;" ng-model="ac.serviceObject.email_address">
                        </td>
                  </tr>
            </table>
            <br>
            <H3>I have read, understand, and agree to the above and authorise C.A.R.S. to inspect and repair my vehicle.</H3>
            <br>
            <textarea rows="6" cols="80">Sign and Date</textarea>
      </div>
</div>
