<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Service Checklist</title>
  </head>
  <body>
    <h2>Christian Auto Repair Shop</h2>
    <h4>Vehicle Inspection Checklist</h4>

    <!--Owner and vehicle information-->
    <label for="text">Vehicle Owner's Name:</label>
    <input type="text" placeholder="Enter Owner's Name"></br>

    <label for="text">VIN:</label>
    <input type="text" placeholder="Enter VIN">


    <label for="text">Year:</label>
    <input type="text" placeholder="Enter Year">


    <label for="text">Make:</label>
    <input type="text" placeholder="Enter Make">


    <label for="text">Model:</label>
    <input type="text" placeholder="Enter Model">


    <!--Checklist Begins Here-->
  <form class="">
    <div class="container">

    </div><!--/container -->
  </form> <!--/form-->


  </body>
</html>
