
          <h2>Christian Auto Repair Shop</h2>
          <h4>Vehicle Inspection Checklist</h4>

            <!--Owner and vehicle information-->
            <label for="text">Vehicle Owner's Name:</label>
            <input type="text" placeholder="Enter Owner's Name"></br>

            <label for="text">VIN:</label>
            <input type="text" placeholder="Enter VIN">

            <label for="text">Year:</label>
            <input type="text" placeholder="Enter Year">

            <label for="text">Make:</label>
            <input type="text" placeholder="Enter Make">

            <label for="text">Model:</label>
            <input type="text" placeholder="Enter Model">


    <!--Vehicle Inspection Checklist Begins Here-->
    <div class="">
      <p> Rating: Excellent Good Replace Soon N/A</p>
    </div>

    <form class="">
      <div class="container">
        <div>
          <label for="text">1. Vehicle Information &#42;&#42; </label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">2. Headlights - High, Low</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">3. Parking Lights - Front</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">4. Turn Signals - Front</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">5. Tail Lights</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">6. Turn Signals - Rear</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">7. Brake Lights</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">8. Back up Lights </label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">9. License Tabs (Expiration Date) &#42;&#42;</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">10. Spare Tire Pressure &#42;&#42;</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">11. Current Tire Pressure LF, RF, LR, RR &#42;&#42;</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">12. Final Tire Pressure LF, RF, LR, RR &#42;&#42;</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">13. Tire Condition LF, RF, LR, RR &#42;&#42;</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">14. Wiper Condition &#42;</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">15. Air Filter Condition &#42;</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">16. Brake Fluid</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">17. Power Steering Fluid</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">18. Transmission Fluid</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">19. Oil Level</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">20. Washer Fluid</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">21. Coolant Level Strength </label>
          <input type="text">
          <!-- <input type="radio">
          <input type="radio">
          <input type="radio"> -->
        </div>

        <div>
          <label for="text">22. Radiator Hose Condition &#42;</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">23. Battery Condition &#42;</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">24. Serpentine Belt Condition &#42;</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">25. Other Belts Condition &#42;</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">26. Lube Hood Latch</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">27. Shock/Strut Test</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">28. Front Wheel Bearing Test</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">29. Tie Rod Test</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">30. Ball Joint Test</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">31. Control Arm Conditon</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">32. Stabilizer Bar Link Conditon</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">33. CV Boot Conditon</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>
  <!--Vehicle Inspection Checklist Ends Here-->


  <!--Oil change checklist begins here-->
        <h3>Oil Change (If Required)</strong></h3>

        <div>
          <label for="text">1. Drain Oil</label>
          <input type="radio">
          <input type="radio">
          <input type="radio">
          <input type="radio">
        </div>

        <div>
          <label for="text">2. Remove Filter and old gasket/label>
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
          </div>

          <div>
            <label for="text">3. Install and Tighten Drain Plug</label>
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
          </div>

          <div>
            <label for="text">4. Install and Tighten Filter</label>
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
          </div>

          <div>
            <label for="text">5. Add Oil. Amount &#42;&#42;</label>
            <input type="input">
            <label for="text"> Weight &#42;&#42;</label>
            <input type="input">
          </div>

          <div>
            <label for="text">6. Check Oil Level</label>
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
          </div>

          <div>
            <label for="text">7. Oil Cap Secure</label>
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
          </div>

          <div>
            <label for="text">8. Start and Idle (5 seconds)</label>
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
          </div>

          <div>
            <label for="text">9. Check Oil Plug for Leaks</label>
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
          </div>

          <div>
            <label for="text">10. Check Filter for Leaks</label>
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
          </div>

          <div>
            <label for="text">11. Install Oil Change Sticker</label>
            <input type="radio">
            <input type="radio">
            <input type="radio">
            <input type="radio">
          </div>

          <div>
            <label for="text">10. Oil Filter Brand/Number &#42;&#42;</label>
            <input type="input">
          </div>

          <div>
            <label for="text">11. Oil Type: </label>
            <input type="input">
          </div>
  <!--Oil change checklist Ends here-->

  <!--Finish Up Checklist here-->
          <h3>Finish Up Checklist</h3>
            <div>
              <label for="text">1. Oil Cap Secure</label>
              <input type="radio">
            </div>

            <div>
              <label for="text">2. Oil Stick Secure</label>
              <input type="radio">
            </div>

            <div>
              <label for="text">3. Transmission Stick Secure</label>
              <input type="radio">
            </div>

            <div>
              <label for="text">4. Power Steering Reservoir Cap Secure</label>
              <input type="radio">
            </div>

            <div>
              <label for="text">5. Brake Reservoir Cap Secure</label>
              <input type="radio">
            </div>

            <div>
              <label for="text">6. Coolant Reservoir Cap Secure</label>
              <input type="radio">
            </div>

            <div>
              <label for="text">7. Washer Fluid Reservoir Cap Secure</label>
              <input type="radio">
            </div>

            <div>
              <label for="text">8. Tool Check: Under Hood, Inside Care, Inside Trunk</label>
              <input type="radio">
            </div>

            <div>
              <label for="text">9. Test Drive</label>
              <input type="radio">
            </div>

            <div>
              <label for="text">10. Re-torque lug nuts</label>
              <input type="radio">
            </div>

            <div>
              <label for="text">11. Gift Packet Distributed</label>
              <input type="radio">
            </div>

            <div>
              <label for="text">12. Review Checklist with Guest</label>
              <input type="radio">
            </div>

<!--Finish Up Checklist ends here-->

<!--Vehicle Observations Comment Sections begins here-->
          <div>
            <h4>Vehicle Observations &#42;&#42;</h4>
              <textarea name="textarea" rows="10" cols"50" placeholder="Enter text here"></label>
          </div>

          <div>
            <h4>Recommended Repairs &#42;&#42;</h4>
              <textarea name="textarea" rows="10" cols"50" placeholder="Enter text here"></label>
          </div>

          <div>
            <h4>Repairs Declined &#42;&#42;</h4>
              <textarea name="textarea" rows="10" cols"50" placeholder="Enter text here"></label>
          </div>

          <div>
            <h4>Parts Installed &#42;&#42;</h4>
              <textarea name="textarea" rows="10" cols"50" placeholder="Enter text here"></label>
          </div>

          <div>
            <label for="text"><strong>Cost &#42;&#42;<strong></label>
              <input type="input">
          </div>

          <p><strong>Guest Signature/Date Time Stamp:&#42;&#42;</strong> </p>

          <p> <strong> &#42; Require Rating Input</strong>: 0-Excellent, 1-Good, 2 - Replace Soon, 3 - N/A</p>
          <p><strong> &#42;&#42; Require Actual Reading<strong></p>
          
          <button>Submit</button>
<!--Vehicle Observations Comment Sections ends here-->

          </div><!--/container -->
     </form> <!--/form-->

