<!-- Landing Page Navbar -->
<div class="navbar">
    <div class="container">
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" layout="row" layout-align="space-around center">
            <md-nav-item class="NavLink" md-nav-href="#/landingpage" name="homeTab">
                Home
            </md-nav-item>

            <md-nav-item class="NavLink" md-nav-href="#/requestservice" name="serviceRequestTab">
                Request for Service Form
            </md-nav-item>

            <!-- Only admin can navigate through all pages freely -->
            <span ng-if="lpc.userObject.role==='admin'">
                <md-nav-item md-nav-href="#/mechanic" name="mechanicTab">
                    Mechanic
                </md-nav-item>
    
                <md-nav-item class="NavLink" md-nav-href="#/admin" name="adminTab">
                    Admin
                </md-nav-item>
            </span>

            <!-- Hides Log-in if user is logged in -->
            <md-nav-item md-nav-href="#/login" name="loginTab" ng-hide="lpc.userObject.role">
                Login
            </md-nav-item>

        </md-nav-bar>
    </div>
</div>

<!-- Page content -->
<div>
<<

    <div layout="row" layout-align="space-around" class="container">

        <section flex="30" class="infocontainer">
            <h3>Who are we? </h3>
            <p>
                CARS is a part of the nonprofit ministry of Youth Impact Racing (YIR). At YIR, youth have an opportunity to learn about racing
                through RC cars and Go Karts while at the same time building relationships with other youth and learning
                life skills in a Gospel centered, Christian environment. As the youth reach their Senior High School years,
                they have a further opportunity to work on actual cars alongside of older mentors in the CARS ministry. The
                mentors in the CARS ministry are individuals who enjoy automobile repair and helping others who are in need.
                Some are experienced mechanics while others just enjoy maintaining their car and the camaraderie of fellow

    <div layout="column" layout-align="start">
        <section flex="40" class="infocontainer">
            <h2>Who are we? </h2>
            <h3>
                CARS is a part of the nonprofit ministry of Youth Impact Racing (YIR).
                <br>At YIR, youth have an opportunity to learn about racing through RC cars and Go Karts while at the same
                time building relationships with other youth and learning life skills in a Gospel centered, Christian environment.
                <br>As the youth reach their Senior High School years, they have a further opportunity to work on actual
                cars alongside of older mentors in the CARS ministry.
                <br>The mentors in the CARS ministry are individuals who enjoy automobile repair and helping others who are
                in need.
                <br>Some are experienced mechanics while others just enjoy maintaining their car and the camaraderie of fellow

                car repair enthusiasts.
            </h3>
        </section>

        <section flex="30" class="infocontainer">
            <h3> Who do we serve? </h3>

            <p>
        <section flex="70" class="infocontainer">
            <h2> Who do we serve? </h2>
            <h3>

                Our mission is to serve single moms, single women, widows, financially limited individuals, and others who may need assistance
                as our schedule permits.

            </h3>
        </section>


        <section flex="30" class="infocontainer">
            <h3> What does it cost? </h3>
            <p>

        <section flex="70" class="infocontainer">
            <h2> What does it cost? </h2>
            <h3>

                We charge only for the cost of the parts required for repair. These part costs are substantially less than any auto repair
                shop saving an individual as much as 50% on just the part cost alone. Our goal is to be able to provide totally
                free repair to those in need when funds are available to cover the cost.
            </h3>
        </section>

        <section flex="70" class="infocontainer">
            <h2> How can you be involved </h2>
            <h3>
                We are looking for other individuals who would like to help in the repair shop. Although previous car repair experience is
                helpful, we can help train you in various car repair skills. Also, we need individuals who are willing to
                help with food preparation for the mechanics and those we serve. If you are interested in helping serve others
                who are in need, please contact Mitch at the phone number or email address listed above. You can support
                us financially by a donation to the CARS ministry. Donations can be mailed to: CARS 1613 Southcross Drive
                West Burnsville, MN 55306 All donations to the CARS ministry are tax deductible and are used to cover the
                cost of garage supplies, tools, online manuals, insurance, and to fund the cost of automotive parts for financially
                limited individuals.
                </h3>
        </section>
    </div>

    <div layout="row" layout-align="space-around" class="container">

        <section flex="30" class="infocontainer">
            <h3> What type of repairs can we do? </h3>


    <div flex layout="row">


        <section flex class="infocontainer">
            <h2>When do we work on cars? </h2>
            <p>We usually work on cars the 1st Saturday of each month unless it conflicts with a major holiday weekend.</p>
        </section>
        
        <section flex="45" class="infocontainer">
            <h2> What type of repairs can we do? </h2>
            <ul>
                <li>Oil and oil filter change</li>
                <br>
                <li>Check Engine light diagnosis</li>
                <br>
                <li>Brake repair including:</li>
                <br>
                <li class="listPush"> Disc Pads, Shoes, Rotors, Drums, Calipers</li>
                <br>
                <li>Minor tune ups including:</li>
                <br>
                <li class="listPush">Spark Plugs, Wires, Coil Replacement</li>
                <br>
                <li>Replacement of:</li>
                <br>
                <li class="listPush">Serpentine belts</li>
                <br>
                <li class="listPush">Battery</li>
                <br>
                <li class="listPush">Headlights</li>
                <br>
                <li class="listPush">Tail and brake lights</li>
                <br>
                <li class="listPush">Air Filter</li>
                <br>
                <li class="listPush">Windshield Wiper Blades</li>
                <br>
                <li class="listPush">Struts and Shocks</li>
                <br>
                <li class="listPush">Tie rods</li>
                <br>
                <li class="listPush">Stabilizer bar links </li>
                <br>
                <li class="listPush">Some drive shafts </li>
                <br>
                <li class="listPush"> Wheel bearings </li>
                <br>
            </ul>
        </section>


        <section flex="30" class="infocontainer">
            <h3> What don't we do? </h3>


        <section flex class="infocontainer">
            <h2> What don't we do? </h2>

            Timing Belts
            <br> Water pumps
            <br> Transmission repair or flushes
            <br> Exhaust repair
            <br> Major engine repair
            <br> Body repair


        </section>

        <section flex="30" class="infocontainer">
            <h3> When do we work on cars? </h3>
            <p>
                We usually work on cars the 1st Saturday of each month unless it conflicts with a major holiday weekend.
            </p>

        </section>
    </div>
    <div layout="row" layout-align="space-around" class="container">

        <section flex="30" class="infocontainer">
            <h3> When do we meet? </h3>
            <p>
                20685 Lynn Drive Prior Lake, MN 55372

            </p>
        </section>


        <section flex="30" class="infocontainer">
            <h3> Contact us for repair work </h3>
            <p> Contact Mitch Hagen at: 612-382-6828 </p>
            <p> Or Email: cars@youthimpactracing.org </p>

        </section>

        <section flex="30" class="infocontainer">
            <h3> How can you be involved </h3>
            <p>
                We are looking for other individuals who would like to help in the repair shop. Although previous car repair experience is
                helpful, we can help train you in various car repair skills. Also, we need individuals who are willing to
                help with food preparation for the mechanics and those we serve. If you are interested in helping serve others
                who are in need, please contact Mitch at the phone number or email address listed above. You can support
                us financially by a donation to the CARS ministry. Donations can be mailed to: CARS 1613 Southcross Drive
                West Burnsville, MN 55306 All donations to the CARS ministry are tax deductible and are used to cover the
                cost of garage supplies, tools, online manuals, insurance, and to fund the cost of automotive parts for financially
                limited individuals.


            </p>

        </section>
    </div>
</div>

</div>


</div>




        </section>

    </div>
    <section flex class="infocontainer">
        <h2> Where do we meet? </h2>
        <h3>20685 Lynn Drive Prior Lake, MN 55372</h3>
    </section>
    <section flex class="infocontainer">
        <h2> Contact us for repair work </h2>
        <h3> Contact Mitch Hagen at: 612-382-6828 </h3>
        <h3> Or Email: cars@youthimpactracing.org </h3>
    </section>

</div>