<div class="navbar noPrint">
  <span ng-if="mc.AdminService.userObject.role == null ">
    <div class="container">
        <md-nav-bar class="navBarStyle" md-selected-nav-item="currentNavItem" layout="row" layout-align="space-around center" md-no-ink-bar="disableInkBar"
            nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="#/landingpage" name="homeTab">Home</md-nav-item>
            <md-nav-item md-nav-href="#/requestservice" name="serviceRequestTab">Request for Service Form</md-nav-item>
            <md-nav-item md-nav-href="#/login" name="loginTab">Login</md-nav-item>
        </md-nav-bar>
    </div>
</div>
</span>
  <span ng-if="mc.AdminService.userObject.role === 'admin'">
<div class="navbar noPrint">
    <div class="container">
        <md-nav-bar class="navBarStyle" md-selected-nav-item="currentNavItem" layout="row" layout-align="space-around center" md-no-ink-bar="disableInkBar"
            nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="#/landingpage" name="homeTab">Home</md-nav-item>
            <md-nav-item md-nav-href="#/requestservice" name="serviceRequestTab">Request for Service Form</md-nav-item>
            <md-nav-item md-nav-href="#/admin" name="adminTab">Admin</md-nav-item>
            <md-nav-item md-nav-href="#/mechanic" name="mechanicTab">Mechanic</md-nav-item>
            <md-nav-item md-nav-href="#register" name="Register">Register User</md-nav-item>
            <md-nav-item md-nav-click="mc.AdminService.logout()" name="logOutTab">Log Out </md-nav-item>
        </md-nav-bar>
    </div>
</div>
</span>
  <span ng-if="mc.AdminService.userObject.role === 'mechanic'">
<div class="navbar noPrint">
    <div class="container">
        <md-nav-bar class="navBarStyle" md-selected-nav-item="currentNavItem" layout="row" layout-align="space-around center" md-no-ink-bar="disableInkBar"
            nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="#/landingpage" name="homeTab">Home</md-nav-item>
            <md-nav-item md-nav-href="#/requestservice" name="serviceRequestTab">Request for Service Form</md-nav-item>
            <md-nav-item md-nav-href="#/mechanic" name="mechanicTab">Mechanic</md-nav-item>
            <md-nav-item md-nav-click="mc.AdminService.logout()" name="logOutTab">Log Out </md-nav-item>
        </md-nav-bar>
    </div>
</div>
</span>
</div>

<div class="base" flex="90" flex-offset="5">
  <h1 style="color: black; margin: 10px;">Mechanic Landing Page</h1>

  <!-- Current mc:{{mc}} -->

  <div layout="row">
    <div layout="column" layout-wrap flex="45">
      <h2 style="color: black; padding: 10px;">Vehicles Pending Service:</h2>
      <div ng-repeat="vehicle in mc.carsStatus.list">
        <md-card ng-hide="vehicle.checklist_status === 'serviced'">
          <md-card-content>

            <b>Name:</b> {{vehicle.name}}
            <br><b>Year:</b> {{vehicle.year}}
            <br><b>Make:</b> {{vehicle.make}}
            <br><b>Model:</b> {{vehicle.model}}
            <br><b>VIN:</b> {{vehicle.vin}}
            <br><b>Mileage:</b> {{vehicle.current_mileage}}
            <br><b>Service Requested:</b> {{vehicle.service_requested}}
            <br>
            <br>
            <span layout="column">
            <md-button ng-class="'{{vehicle.checklist_status}}'" ng-href="#/checklist/{{vehicle.checklist_id}}"> Checklist status:  {{vehicle.checklist_status}}</md-button>
            <md-button style="background-color: orange;" ng-click="mc.cancelChecklist(vehicle)">Cancel Service</md-button>
            </span>
          </md-card-content>
        </md-card>
      </div>
    </div>

    <div layout="column" layout-wrap flex="50">
      <h2 style="color: black; padding: 10px;">Vehicles Ready For Checkout:</h2>
      <div ng-repeat="vehicle in mc.carsStatus.list">
        <md-card ng-hide="vehicle.checklist_status != 'serviced'">
          <md-card-content>

            <b>Name:</b> {{vehicle.name}}
            <br><b>Year:</b> {{vehicle.year}}
            <br><b>Make:</b> {{vehicle.make}}
            <br><b>Model:</b> {{vehicle.model}}
            <br><b>VIN:</b> {{vehicle.vin}}
            <br><b>Mileage:</b> {{vehicle.current_mileage}}
            <br><b>Service Requested:</b> {{vehicle.service_requested}}
            <br>
            <br>
            <span layout="column">
              <md-button ng-class="'{{vehicle.checklist_status}}'" ng-href="#/checklist/{{vehicle.checklist_id}}"> Checklist status:  {{vehicle.checklist_status}}</md-button>
              <md-button style="background-color: #a4f442;" ng-href="#/printchecklist/{{vehicle.checklist_id}}"> Print and Close</md-button>
            </span>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
</div>