<div class="navbar noPrint">
  <span ng-if="lc.AdminService.userObject.role == null ">
    <div class="container">
        <md-nav-bar class="navBarStyle" md-selected-nav-item="currentNavItem" layout="row" layout-align="space-around center" md-no-ink-bar="disableInkBar"
            nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="#/landingpage" name="homeTab">Home</md-nav-item>
            <md-nav-item md-nav-href="#/requestservice" name="serviceRequestTab">Request for Service Form</md-nav-item>
            <md-nav-item md-nav-href="#/login" name="loginTab">Login</md-nav-item>
        </md-nav-bar>
    </div>
</div>
</span>
<!-- If logged in as Admin -->
  <span ng-if='lc.AdminService.userObject.role === "admin"'>
<div class="navbar noPrint">
    <div class="container">
        <md-nav-bar class="navBarStyle" md-selected-nav-item="lc.currentNavItem" layout="row" layout-align="space-around center" md-no-ink-bar="disableInkBar"
            nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="#/landingpage" name="homeTab">Home</md-nav-item>
            <md-nav-item md-nav-href="#/requestservice" name="serviceRequestTab">Request for Service Form</md-nav-item>
            <md-nav-item md-nav-href="#/admin" name="adminTab">Admin</md-nav-item>
            <md-nav-item md-nav-href="#/mechanic" name="mechanicTab">Mechanic</md-nav-item>
            <md-nav-item md-nav-href="#/register" name="Register">Register User</md-nav-item>

            <md-nav-item md-nav-click="lc.AdminService.logout()" name="logOutTab">Log Out </md-nav-item>
        </md-nav-bar>
    </div>
</div>
</span>
<!-- If logged in as Mechanic -->
  <span ng-if="lc.AdminService.userObject.role === 'mechanic'">
<div class="navbar noPrint">
    <div class="container">
        <md-nav-bar class="navBarStyle" md-selected-nav-item="lc.currentNavItem" layout="row" layout-align="space-around center" md-no-ink-bar="disableInkBar"
            nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="#/landingpage" name="homeTab">Home</md-nav-item>
            <md-nav-item md-nav-href="#/requestservice" name="serviceRequestTab">Request for Service Form</md-nav-item>
            <md-nav-item md-nav-href="#/mechanic" name="mechanicTab">Mechanic</md-nav-item>
            <md-nav-item md-nav-click="lc.AdminService.logout()" name="logOutTab">Log Out </md-nav-item>
        </md-nav-bar>
    </div>
</div>
</span>
</div>
<div>
 
    <md-card  class="loginBox" flex="20" flex-offset="40">
      <h1 style="padding: 0 0 0 15px;">Register User</h1>
      <h1 class="alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h1>
      <form ng-submit="lc.registerUser()" style="padding: 8px; margin: 8px;">
        <md-input-container>
          <label>Username:</label>
          <input type="text" ng-model="lc.user.username" />
        </md-input-container>
        <md-input-container>
          <label for="password">Password:</label>
          <input type="password" ng-model="lc.user.password" />
        </md-input-container>

        <md-radio-group ng-model="lc.user.role">
          <md-radio-button value="admin" class="md-primary">Admin</md-radio-button>
          <md-radio-button value="mechanic">Mechanic</md-radio-button>
        </md-radio-group>

        <div>
          <button type="submit" name="submit" value="Log In" style="padding: 10px;">Register</button>
          <a href="#login"><button style="padding: 10px;">Cancel</button></a>
        </div>
      </form>
    </md-card>
</div>