<h2>Request for Vehicle Reapir</h2>
<h4>Please fill in all the fields below</h4>
    <form class="w3-container w3-row-padding w3-content" id="customerInfo">
        <p><label>First Name</label></p>
        <input type="text" class="w3-input w3-border w3-round" name="first" ng-model=" ">

        <p><label>Last Name</label></p>
        <input type="text" class="w3-input w3-border w3-round" name="last" ng-model=" ">

        <p><label>Address</label></p>
        <input type="text" class="w3-input w3-border w3-round" name="address" ng-model=" ">
    </form>   

<form class="w3-container w3-row-padding" id="customerInfo">     
    <div class="w3-row-padding">
        <div class="w3-third">
            <p><label>City</label></p>
            <input type="text" class="w3-input w3-border w3-round" name="city" ng-model=" ">
        </div>

        <div class="w3-third">
            <p><label>State</label></p>
            <input type="text" class="w3-input w3-border w3-round" name="state" ng-model=" ">
        </div>

        <div class="w3-third">
            <p><label>Zip Code</label></p>
            <input type="number" class="w3-input w3-border w3-round" name="zip" ng-model=" ">
        </div>
    </div>
</form>  

<form class="w3-container" id="carInfo">
    <h2>Vehicle Information</h2>
    <div class="w3-container w3-row">
        <div class="w3-container w3-third">
            <p><label>Year</label></p>
            <input type="number" class="w3-input w3-border w3-round" name="year" ng-model=" ">
        </div> 

        <div class="w3-container w3-third">
            <p><label>Make</label></p>
            <input type="text" class="w3-input w3-border w3-round" name="make" ng-model=" ">
        </div>

        <div class="w3-container w3-third">
            <p><label>model</label></p>
            <input type="text" class="w3-input w3-border w3-round" name="model" ng-model=" ">
        </div>
    </div>   
    
    <div class="w3-container">
        <p><label>VIN</label></p>
        <input type="text" class="w3-input w3-border w3-round" name="VIN" ng-model=" ">
    </div>
</form>
<h3>Please describe the problems you are having with the vehicle</h3>
<textarea rows="15" cols="250" mg-model=" "></textarea>

<div class="w3-container">
<h3>Please indicate why you qualify for the services of C.A.R.S</h3>
    <input class="w3-radio" type="radio" name="qualification" value="single mother" checked>
    <label>Single Mother</label>

    <input class="w3-radio" type="radio" name="qualification" value="single woman" checked>    
    <label>Single Woman</label> 

    <input class="w3-radio" type="radio" name="qualification" value="widow" checked>
    <label>Widow</label>

    <input class="w3-radio" type="radio" name="qualification" value="financially limited" checked>
    <label>Financially Limited</label>
   
    <input class="w3-radio" type="radio" name="qualification" value="other" checked>
    <label>Other</label>
</div>


    



       
        
           






      

        


            

            
        