<div class="navbar noPrint">
      <span ng-if="ac.AdminService.userObject.role == null ">
    <div class="container">
        <md-nav-bar class="navBarStyle" md-selected-nav-item="currentNavItem" layout="row" layout-align="space-around center" md-no-ink-bar="disableInkBar"
            nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="#/landingpage" name="homeTab">Home</md-nav-item>
            <md-nav-item md-nav-href="#/requestservice" name="serviceRequestTab">Request for Service Form</md-nav-item>
            <md-nav-item md-nav-href="#/login" name="loginTab">Login</md-nav-item>
        </md-nav-bar>
    </div>
</div>
</span>
      <span ng-if="ac.AdminService.userObject.role === 'admin'">
<div class="navbar noPrint">
    <div class="container">
        <md-nav-bar class="navBarStyle" md-selected-nav-item="currentNavItem" layout="row" layout-align="space-around center" md-no-ink-bar="disableInkBar"
            nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="#/landingpage" name="homeTab">Home</md-nav-item>
            <md-nav-item md-nav-href="#/requestservice" name="serviceRequestTab">Request for Service Form</md-nav-item>
            <md-nav-item md-nav-href="#/admin" name="adminTab">Admin</md-nav-item>
            <md-nav-item md-nav-href="#/mechanic" name="mechanicTab">Mechanic</md-nav-item>
            <md-nav-item md-nav-href="#register" name="Register">Register User</md-nav-item>
            <md-nav-item md-nav-click="ac.AdminService.logout()" name="logOutTab">Log Out </md-nav-item>
        </md-nav-bar>
    </div>
</div>
</span>
      <span ng-if="ac.AdminService.userObject.role === 'mechanic'">
<div class="navbar noPrint">
    <div class="container">
        <md-nav-bar class="navBarStyle" md-selected-nav-item="currentNavItem" layout="row" layout-align="space-around center" md-no-ink-bar="disableInkBar"
            nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="#/landingpage" name="homeTab">Home</md-nav-item>
            <md-nav-item md-nav-href="#/requestservice" name="serviceRequestTab">Request for Service Form</md-nav-item>
            <md-nav-item md-nav-href="#/mechanic" name="mechanicTab">Mechanic</md-nav-item>
            <md-nav-item md-nav-click="ac.AdminService.logout()" name="logOutTab">Log Out </md-nav-item>
        </md-nav-bar>
    </div>
</div>
</span>
</div>

<div flex="90" flex-offset="5" class="base">

      <div id="printMe" style="overflow: hidden">
            <md-action>
                  <md-button flex class="md-raised md-primary noPrint" ng-click="ac.printDiv()">Print</md-button>
                  <md-button flex class="md-raised md-warn removebutton noPrint" ng-click="ac.updateCustomer(data.customer_id, 'printed')">remove</md-button>
                  <br>
            </md-action>


            <H1>C.A.R.S.</H1>
            <H2>Service Authorization</H2>
            <img src="../views/images/cars-logo-transparent.png" id="authCarsLogo" />

      </div>
</div>